/* Designed by  seunghyun */
h1,h2,h3,h4,h5,h6 {
	margin:50px;
	text-align: center;
	letter-spacing: -1px;
	color:#004d66;
}
a:link, a:visited {

}
a:hover {
	
}
.inputconfirm{
	border: none;
	border-radius: 20px;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
body
{
	background-image: url("/MBEx/img/member/background_wideFull.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-color: #007399;
}
table {	
	margin:auto;
	width: 500px;
	border: none;
	border-radius: 5px;
	background-color: white;
	border-collapse: collapse;
	vertical-align: middle;
	top:20%;
}
.container{
	width:100vw;
    height:100vh;
	text-align:center;
	vertical-align:middle;
	display:table-cell;
}
.block {
	display:inline-block;
}
.smallmsg{
	font-size: 12px;
	text-align:center;
}
.confirmtable{
	margin:auto;
	width: 300px;
	border: none;
	background-color: white;
	border-collapse: collapse;
}
.wide{
	padding-left:0px;
	padding-right:0px;
	width: 100px;
	margin:0px;
}
.inputwide{
	width: 90px;
}
table input{	
	
}
textarea {

}
/* �Է� �� */
input {
	padding:2px 3px 2px 3px;
}
input[type=text], input[type=password] {
	width: 50%;
	border: none;
	border-radius: 25px;
	background-color: #e4e7e7;
}
input:focus{
	outline:none;
	background-color: #cbcbcb;
}

.inputbutton
{
	margin:10px;
	margin-top: 20px;
	margin-bottom: 30px;
	border: none;
	border-radius: 5px;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
input[type=submit]{
	color: black;
	background-color: #CCFF00;
}
input[type=button]{
	background-color: #333333;
}
input[type=reset]{
	background-color: #565656;
}
th {
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 0px;
	vertical-align: center;
	height: 40px;
	width: 30%;
	text-align: right;
	border:none;
}
td {
	padding-left: 60px;
	padding-top: 20px;
	height: 40px;
	border:none;
	vertical-align: center;
}
span {	
	color:red;
}